<!doctype html>
<html>
  <head>
    <title>Joel's Simple URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <p>Welcome to Joel's Simple URL Shortener!</p>

    <form action="/" method="POST">
      <label>Shorten your url (http_scheme://domain_name/path):</label><br>
      <input type="text" id="url" name="url">
      <input type="submit" value="Shorten">
    </form>

    <br>

    <footer>
      <a href="https://github.com/joloong/url-shortener">GitHub</a></p>
    </footer>
  </body>
</html>
